* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #E8F3F5;
    color: #000000;
    line-height: 1.6;
    font-family: 'Quicksand', sans-serif;
    padding: 0 1.5em;
}

h1{
    text-align: center;
    padding: 0;
    margin: 0;
}

.content {
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
    padding: 1.5em;
}

ul {
    list-style: none;
    padding: 0;
}

.logo {
    text-align: center;
    font-size: 3em;
}

.logo span {
    color: #00C78B;
}

.contact-wrapper {
    box-shadow: 0 0 20px 0 rgba(255, 255, 255, .3);
}

.contact-wrapper > * {
    padding: 0.5em;
}

.contact-form {
    background: #D2E4D6;
    margin: 0px;
}

.contact-form form {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.contact-form form label {
    display: block;
}

.contact-form form p {
    margin: 0;
    padding: 0.5em;
}

.contact-form form .block {
    grid-column: 1 / 3;
}

.contact-form form button,
.contact-form form input,
.contact-form form textarea {
    width: 100%;
    padding: .7em;
    border: none;
    background: none;
    outline: 0;
    color: #000000;
    border-bottom: 1px solid #045C44;
}

.contact-form form button {
    background: #045C44;
    border: 0;
    text-transform: uppercase;
    padding: 1em;
    color: #ffffff;
}

.contact-form form button:hover,
.contact-form form button:focus {
    background: #00C78B;
    color: #000000;
    transition: background-color 1s ease-out;
    outline: 0;
}

/* CONTACT INFO */
.contact-info {
    background: #b0bdb2;
}

.contact-info h4, .contact-info ul, .contact-info p {
    text-align: center;
    margin: 0 0 1rem 0;
}

/* LARGE SIZE */
@media(min-width: 700px) {
    body {
        padding: 0 4em;
    }
    .contact-wrapper {
        display: grid;
        grid-template-columns: 2fr 1fr;
    }
    .contact-wrapper > * {
        padding: 2em;
    }
    .contact-info h4,
    .contact-info ul,
    .contact-info p {
        text-align: left;
    }
}

.key{
    width: 90%;
    margin: 0 5%;
}

.myname{
    font-size: 1.1em;
    background: #045C44;
    color: #ffffff;
    padding: 0.2em;
    display: inline-block;
}